{% extends 'tasks/layout.html'%}
{% block body %}

    {% if textoError == True %}
    
        <h1>Agregar Tarea:</h1>
        <h2>El dato ingresado anteriormente era incorrecto </h2>
        <form action="{% url 'TAREAS:add' %}" method="POST">
            {% csrf_token %}
            {{formulario_de_alta}}
            <input type="submit">
        </form>
        <a href="{% url 'TAREAS:index' %}">Ir a tareas</a>

    {% else %}

        <h1>Agregar Tarea:</h1>
        <form action="{% url 'TAREAS:add' %}" method="POST">
            {% csrf_token %}
            {{formulario_de_alta}}
            <input type="submit">
        </form>
        <a href="{% url 'TAREAS:index' %}">Ir a tareas</a>

    {% endif %}


{% endblock %}